<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.MallOrderMapper">
    <resultMap id="OrderResultMap" type="com.mall.system.entity.MallOrder">
        <id column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="order_sn" property="orderSn"/>
        <result column="order_status" property="orderStatus"/>
        <result column="message" property="message"/>
        <result column="order_price" property="orderPrice"/>
        <result column="ship_time" property="shipTime"/>
        <result column="ship_sn" property="shipSn"/>
        <result column="confirm_time" property="confirmTime"/>
        <result column="end_time" property="endTime"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <association property="user" javaType="com.mall.system.entity.MallOrder"
                     resultMap="com.mall.system.mapper.MallUserMapper.UserResultMap"/>
        <collection property="goodsList" javaType="java.util.ArrayList" ofType="com.mall.system.entity.MallGoods"
                    select="com.mall.system.mapper.MallGoodsMapper.queryByOrderSn" column="{orderSn=order_sn,orderId=order_id,
                    }"/>
    </resultMap>

    <select id="listByUserId" resultMap="OrderResultMap">
        select a.*,
            user.user_id as user_user_id,
            user.password as user_password,
            user.gender as user_gender,
            user.birthday as user_birthday,
            user.last_login_time as user_last_login_time,
            user.last_login_ip as user_last_login_ip,
            user.nickname as user_nickname,
            user.mobile as user_mobile,
            user.avatar as user_avatar,
            user.status as user_status,
            user.add_time as user_add_time,
            user.update_time as user_update_time
        from mall_order a
            left join mall_user user
                on a.user_id = user.user_id
        where a.deleted != 1 and user.deleted != 1
        <if test="userId != null and userId != ''">
            and a.user_id = #{userId}
        </if>
        <if test="orderSn != null and orderSn != ''">
            and a.order_sn = #{orderSn}
        </if>
    </select>
</mapper>
