<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.MallAddressMapper">

    <resultMap id="MallAddressResultMap" type="com.mall.system.entity.MallAddress">
        <id column="address_id" property="addressId"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="address" property="address"/>
        <result column="mobile" property="mobile"/>
        <result column="is_default" property="isDefault"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <association property="user" javaType="com.mall.system.entity.MallAddress"
                     resultMap="com.mall.system.mapper.MallUserMapper.UserResultMap"/>
    </resultMap>

    <select id="listAddress" resultMap="MallAddressResultMap">
        select a.*,
            user.user_id as user_user_id,
            user.username as user_username,
            user.password as user_password,
            user.gender as user_gender,
            user.birthday as user_birthday,
            user.last_login_time as user_last_login_time,
            user.last_login_ip as user_last_login_ip,
            user.nickname as user_nickname,
            user.mobile as user_mobile,
            user.avatar as user_avatar,
            user.status as user_status,
            user.add_time as user_add_time,
            user.update_time as user_update_time,
            user.deleted as user_deleted
        from mall_address a
            left join mall_user user
                on a.user_id = user.user_id
        where a.deleted != 1 and user.deleted != 1
        <if test="userId != null">
            and a.user_id like concat('%',#{userId},'%')
        </if>
        <if test="name != null">
            and a.name like concat('%',#{name},'%')
        </if>
    </select>
</mapper>
