<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.MallGoodsMapper">

    <resultMap id="GoodsResultMap" type="com.mall.system.entity.MallGoods">
        <id column="goods_id" property="goodsId" />
        <result column="goods_sn" property="goodsSn" />
        <result column="name" property="name" />
        <result column="category_id" property="categoryId" />
        <result column="gallery" property="gallery" />
        <result column="brief" property="brief" />
        <result column="num" property="num" />
        <result column="pic_url" property="picUrl" />
        <result column="retail_price" property="retailPrice" />
        <result column="detail" property="detail" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="browse" property="browse" />
        <result column="sales" property="sales" />
        <result column="deleted" property="deleted" />
        <result column="approve_status" property="approveStatus" />
        <result column="approve_msg" property="approveMsg" />
    </resultMap>
    
    <select id="queryByOrderSn" resultType="com.mall.system.entity.MallGoods">
        select a.*
        from mall_goods a right join mall_order_goods b on a.goods_sn = b.goods_sn 
        where a.deleted != 1 and b.deleted != 1 and b.order_sn = #{orderSn}
        
    </select>
</mapper>
