<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.MallCommentMapper">
    <resultMap id="CommentResult" type="com.mall.system.entity.MallComment">
        <id column="comment_id" property="commentId"/>
        <result column="content" property="content"/>
        <result column="c_user_id" property="userId"/>
        <result column="c_order_id" property="orderId"/>
        <result column="c_order_goods_id" property="orderGoodsId"/>
        <result column="star" property="star"/>
        <result column="c_add_time" property="addTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_deleted" property="deleted"/>
        <association property="goods" javaType="com.mall.system.entity.MallOrder"
                     resultMap="com.mall.system.mapper.MallGoodsMapper.GoodsResultMap"/>
        <association property="user" javaType="com.mall.system.entity.MallUser"
                     resultMap="com.mall.system.mapper.MallUserMapper.UserResultMap"/>
    </resultMap>
    <select id="listComment" resultMap="CommentResult">
        select
            a.comment_id,
            a.content,a.star,
            a.user_id c_user_id,
            a.order_id c_order_id,
            a.order_goods_id c_order_goods_id,
            a.add_time c_add_time,
            a.update_time c_update_time,
            a.deleted c_deleted,
            b.user_id u_user_id,
            b.add_time u_add_time,
            b.update_time u_update_time,
            b.deleted u_deleted,
            b.username,b.gender,
            b.birthday,b.nickname,
            b.mobile,b.avatar,
            d.*
        from mall_comment a
            left join mall_user b
                on a.user_id = b.user_id
            left join mall_order_goods c
                on a.order_goods_id = c.id
            left join mall_goods d
                on d.goods_sn = c.goods_sn
        where a.deleted != 1 
              and b.deleted != 1 
              and c.deleted != 1 
              and d.deleted != 1
    </select>

</mapper>
