<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.system.mapper.MallCommentMapper">
    <resultMap id="CommentResult" type="com.mall.system.entity.MallComment">
        <id column="comment_id" property="commentId"/>
        <result column="content" property="content"/>
        <result column="c_user_id" property="userId"/>
        <result column="c_order_sn" property="orderSn"/>
        <result column="c_goods_sn" property="goodsSn"/>
        <result column="star" property="star"/>
        <result column="c_add_time" property="addTime"/>
        <result column="c_update_time" property="updateTime"/>
        <result column="c_deleted" property="deleted"/>
        <association property="goods" javaType="com.mall.system.entity.MallOrder"
                     resultMap="com.mall.system.mapper.MallGoodsMapper.GoodsResultMap"/>
        <association property="user" javaType="com.mall.system.entity.MallUser"
                     resultMap="com.mall.system.mapper.MallUserMapper.UserResultMap"/>
    </resultMap>
    <select id="listComment" resultMap="CommentResult">
        select
            a.comment_id,
            a.content,a.star,
            a.user_id c_user_id,
            a.order_sn c_order_sn,
            a.goods_sn c_goods_sn,
            a.add_time c_add_time,
            a.update_time c_update_time,
            a.deleted c_deleted,
            user.user_id as user_user_id,
            user.username as user_username,
            user.gender as user_gender,
            user.birthday as user_birthday,
            user.last_login_time as user_last_login_time,
            user.last_login_ip as user_last_login_ip,
            user.nickname as user_nickname,
            user.mobile as user_mobile,
            user.avatar as user_avatar,
            user.status as user_status,
            user.add_time as user_add_time,
            user.update_time as user_update_time,
            c.*
        from mall_comment a
            left join mall_user user
                on a.user_id = user.user_id
            left join mall_goods c
                on c.goods_sn =a.goods_sn
        where a.deleted != 1
              and user.deleted != 1
              and c.deleted != 1
        <if test="goodsSn != null and goodsSn != ''">
            and a.goods_sn = #{goodsSn}
        </if>
        <if test="userId != null and userId != ''" >
            and a.user_id = #{userId}
        </if>
    </select>

</mapper>
